<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ccr.swpiebacklayout">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TestActivity"
            android:theme="@style/AppTheme.SwipeBack"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.TranslucentActivity"
            android:theme="@style/AppTheme.SwipeBack"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.WebViewActivity"
            android:theme="@style/AppTheme.SwipeBack"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.SwipeDeleteActivity"
            android:theme="@style/AppTheme.SwipeBack"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.RecyclerIndexActivity"
            android:theme="@style/AppTheme.SwipeBack"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.EditTextActivity"
            android:theme="@style/AppTheme.SwipeBack"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.MovieActivity"
            android:theme="@style/AppTheme.SwipeBack.FullscreenOverlap"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>